{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
 
  /* Add more styling as needed */
</style>
<style>
  label.required::after {
      content: " *";
      color: red;
  }
</style>
<script
  src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>
<script
  src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<div class="datatables" style="padding-top: 50px;">
  <!-- basic table -->
  <div class="row">
    <div class="col-12">
      <!-- ---------------------
                              start Zero Configuration
                          ---------------- -->



      <div class="card">

        <div class="card-body">
          <div class="collapsible-section mb-4">
            <h5 class="card-title fw-semibold mb-4"></h5>

            <form method="POST">
              {% csrf_token %}

              <div class="accordion accordion-flush position-relative overflow-hidden" id="accordionFlushExample">
                <div class="accordion-item mb-3 shadow-none border rounded-top">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fs-4 fw-semibold px-3 py-6 lh-base border-0 rounded-top"
                      type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false"
                      aria-controls="flush-collapse1"> Dispatch Form </button>
                  </h2>
                  {% for item in orders.items.all %}
                  <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body px-3 fw-normal">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="mb-4 row align-items-center">
                            <label for="exampleInputPassword1"
                              class="form-label fw-semibold col-sm-3 col-form-label text-end required">Order No</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="exampleInputtext" name="order{{item.id}}"
                                value="{{orders.quotation_number}}" readonly>
                            </div>
                          </div>
                          <div class="mb-4 row align-items-center">
                            <label for="exampleInputPassword1"
                              class="form-label fw-semibold col-sm-3 col-form-label text-end required">Product Id</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="exampleInputtext" name="product{{item.id}}"
                                value="{{item.product.id}}" readonly>
                                <input type="text" class="form-control" id="exampleInputtext" 
                                value="{{item.product}}" readonly>
                            </div>
                          </div>
                          <div class="mb-4 row align-items-center">
                            <label for="exampleInputPassword1"
                              class="form-label fw-semibold col-sm-3 col-form-label text-end required">Vehicle Number</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="exampleInputtext" name="vehicle{{item.id}}" required>
                            </div>
                          </div>
                          <div class="mb-4 row align-items-center">
                            <label for="exampleInputPassword1"
                              class="form-label fw-semibold col-sm-3 col-form-label text-end required">Date Of Delivery</label>
                            <div class="col-sm-9">
                              <div class="input-group border rounded-1">
                                <input type="date" class="form-control p-7 border-0" name="deliveryDate{{item.id}}" required>
                              </div>
                            </div>
                          </div>
                          <div class="mb-4 row align-items-center">
                            <label for="exampleInputPassword1"
                              class="form-label fw-semibold col-sm-3 col-form-label text-end required">No of Bags</label>
                            <div class="col-sm-9">
                              <input type="number" class="form-control" id="exampleInputtext" placeholder="100"
                                name="allBags{{item.id}}" required>
                            </div>
                          </div>
                          <div class="mb-4 row align-items-center">
                            <label for="exampleInputPassword1"
                              class="form-label fw-semibold col-sm-3 col-form-label text-end required">Quantity(QTL)</label>
                            <div class="col-sm-9">
                              <input type="number" class="form-control" id="exampleInputtext" placeholder="100"
                                name="quantity{{item.id}}" required>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">

                          <div class="mb-4 row align-items-center">
                            <label for="exampleInputPassword1"
                              class="form-label fw-semibold col-sm-3 col-form-label text-end required">Jute Bag</label>
                            <div class="col-sm-9">
                              <div class="input-group">
                                <input type="text" class="form-control" id="" value="0" name="jute{{item.id}}" required>
                              </div>
                            </div>
                          </div>
                          <div class="mb-4 row align-items-center">
                            <label for="exampleInputPassword1"
                              class="form-label fw-semibold col-sm-3 col-form-label text-end required">Plastic Bag</label>
                            <div class="col-sm-9">
                              <div class="input-group">
                                <input type="text" class="form-control" id="" value="0" name="plastic{{item.id}}" required>
                              </div>
                            </div>
                          </div>
                          <div class="mb-4 row align-items-center">
                            <label for="exampleInputPassword1"
                              class="form-label fw-semibold col-sm-3 col-form-label text-end required">FCI</label>
                            <div class="col-sm-9">
                              <div class="input-group">
                                <input type="text" class="form-control" id="" name="fssi{{item.id}}" value="0" required>
                              </div>
                            </div>
                          </div>
                          <div class="mb-4 row align-items-center">
                            <label for="exampleInputPassword1"
                              class="form-label fw-semibold col-sm-3 col-form-label text-end required">Loose</label>
                            <div class="col-sm-9">
                              <div class="input-group">
                                <input type="text" class="form-control" id="" name="loose{{item.id}}" value="0" required>
                              </div>
                            </div>
                          </div>


                        </div>
                      <div>
                         
                    </div>
                  </div>
                    </div>
                  </div>
                  <hr>
                  {% endfor %}
                  <button type="submit" class="btn btn-success">Start Delivery Process</button>
                </div>

              </div>
            </form>
          </div>
        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <div class="mb-2">
            <h5 class="mb-0">Delivery Details</h5>
          </div>

          </p>
          <div class="table-responsive">
            <table id="zero_config" class="table border table-striped table-bordered text-nowrap">
              <thead>
                <!-- start row -->
                <tr>
                  <th>Order No</th>
                  <th>Delivery Id</th>


                  <th>Vehicle Number</th>
                  <th>Delivery Date</th>
                  <th>Product Name</th>
                  <th>Row Type</th>


                  <th>No Of Bags</th>
                  <th>Quantity(QTL)</th>
                  <th>Jute Bag</th>
                  <th>Plastic Bag</th>
                  <th>FSSI</th>
                  <th>Loose</th>
                  <th>Delivery Price</th>
                  <th>Download</th>

                  <th>Delivery Status</th>







                </tr>
                <!-- end row -->
              </thead>
              <tbody>
                <!-- start row -->
                {% for product in delivery %}
                <tr>

                  <td>{{product.OrderFk.quotation_number}}</td>
                  <td>{{product.id}}</td>

                  <td>{{product.vehicle_number}}</td>
                  <td>{{product.date_of_delivery}}</td>
                  <td>{{product.order.product}}</td>
                  <td>{{product.no_of_bags}}</td>

                  <td>{{product.row_type}}</td>
                  <td>{{product.quantity}}</td>
                  <td>{{product.jute_bags}}</td>
                  <td>{{product.plastic_bags}}</td>
                  <td>{{product.fssi}}</td>
                  <td>{{product.loose}}</td>

                  <td>{{product.final_quantity_price}}</td>
                  <td><a class="btn btn-success" href="{% url 'salesdownloadDelivery' order_id=product.id  %}">Download Slip</a></td>

                  <td>{% if product.status == 'pending' %}
                    <button class="btn btn-success" disabled>Pending</button>
                    {% elif product.status == 'delivered' %}
                    <button class="btn btn-danger" disabled>Delivered</button>
                    {% endif %}
                  </td>




                </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------
                              end Table Responsive 
                          ---------------- -->
</div>
<!-- Your modal structure -->
<!-- Your modal structure -->

<script>
  function handleColorTheme(e) {
    $("html").attr("data-color-theme", e);
    $(e).prop("checked", !0);
  }
</script>



<script
  src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/js/datatable/datatable-basic.init.js"></script>
<script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/js/forms/repeater-init.js"></script>
{% endblock %}