{% extends 'base.html' %}
{% load static %}

{% block content %}



<style>
  body {
    background-color: #f8f9fa;
  }

  .card {
  margin-top: 50px;
   /* Adjust the maximum width as needed */
  margin-left: auto;
  margin-right: auto;
}

  .card-header {
    background-color: #007bff;
    color: #ffffff;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .text-center {
  text-align: left !important;
}
label {
  font-weight: bold; /* Make the label bold */
  padding:5px;
}
</style>
<style>
  label.required::after {
      content: " *";
      color: red;
  }
</style>
<div class="card text-center">
    <div class="card-header">
      User
    </div>
    <div class="card-body">
      {% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
          </div>
            {% endif %}
        {% endfor %}
    </div>
      {% endif %}
      <form name="customerForm" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
              <div class="form-group ">
                <label for="customerName">User Id</label>
                <input type="text" class="form-control" id="voucher_no" name="voucher_no" value="{{next_Supplier_number}}"  readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group ">
                <label for="id_account_type" class="required">Account Type:</label>
              <select name="account_type" id="account_type" class="form-control" required>
                  <option value="" disabled selected>Select account type</option>
                  {% for type in accountType %}
                  <option value="{{type.name}}">{{type.name}}</option>
                  {% endfor %}
              </select><br>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group ">
                <label for="customerName" class="required">Username</label>
                <input type="text" class="form-control" id="voucher_no" name="username"  required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group ">
                <label for="customerName" class="required">Password</label>
                <input type="text" class="form-control" id="voucher_no" name="password"  required >
              </div>
            </div>
        </div>
        <div class="row" style="padding:20px">


          <div class="col-md-3">
            <div class="form-group ">
              <label for="SupplierName" class="required">First Name</label>
              <input type="text" class="form-control" name="firstName" placeholder="Enter First name" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group ">
              <label for="SupplierName" class="required">Last Name</label>
              <input type="text" class="form-control" name="lastName" placeholder="Enter Last name" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="customerCode">User Code</label>
              <input type="text" class="form-control" name="userCode" id="customerCode">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="creditPeriod" class="required">Credit Period <small>(In days)</small></label>
              <input type="number" class="form-control" name="creditPeriod" placeholder="Enter credit period" required>
            </div>
          </div>
        </div>
        <div class="row" style="padding:20px">

          <div class="col-md-4">
            <div class="form-group">
              <label for="areaId" class="required">Mobile</label>
              <input type="text" class="form-control" name="mobile" placeholder="Enter Mobile No" required>
            </div>
          </div>

        

              <div class="col-md-4">
                <div class="form-group" >
                  <label for="phone" class="required">Phone</label>
                  <input type="text" class="form-control" name="phone" placeholder="Enter phone" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="email" class="required">Email</label>
                  <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                </div>
              </div>
        </div>



        <div class="row" style="padding:20px">

          <div class="col-md-4">
            <div class="form-group">
              <label for="areaId">IFSC Code</label>
              <input type="text" class="form-control" name="IFSC" placeholder="Enter IFSC">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="bankAccount" >Bank Account</label>
              <input type="text" class="form-control" name="bankAccount" placeholder="Enter bank account" >
            </div>
          </div>



          <div class="col-md-4">
            <div class="form-group">
                <label for="address" class="required">Address</label>
                <textarea class="form-control" name="address" placeholder="Enter address" required></textarea>
            </div>
          </div>

         

          
        </div>

          <div class="row" style="padding:20px">

      

            <div class="col-md-4">
            <div class="form-group">
              <label for="phoneCstNo">GST No</label>
              <input type="text" class="form-control" name="GstNo" placeholder="Enter GST No">
            </div>
          </div>

            <div class="col-md-4">
            <div class="form-group">
              <label for="pan">Pan</label>
              <input type="text" class="form-control" name="pan" placeholder="Enter PAN">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="areaId">Pin Code</label>
              <input type="text" class="form-control" name="areaCode" placeholder="Enter Postal Code">
            </div>
          </div>
        </div>

          <div class="row" style="padding:20px">

            <div class="col-md-4">
            <div class="form-group">
              <label for="openingBalance">Opening Balance</label>
              <input type="number" class="form-control" name="openingBalance" placeholder="Enter opening balance">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="openingBalance">Commission(%)</label>
              <input type="number" class="form-control" name="commission" step="any">
            </div>
          </div>

         

          
        </div>

          <div class="row" style="padding:20px">
           


            
          </div>



          <div class="row" style="padding:20px">
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <input type="checkbox" name="enable_options" id="enableOptionsCheckbox"> Add To Ledger 
              </label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="account_category">Primary Group:</label>
                <select class="selectpicker" id="accountNumber1" name="primaryGroupName" data-live-search="true">
      
                  {% for category in primaryGroup %}
                  <option data-tokens="{{ category.primary_group_number }}" id="{{ category.primary_group_number }}"
                    value="{{ category.primary_group_number }}">{{ category.primary_group_name }}</option>
      
      
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="account_category">Group:</label>
                <select class="selectpicker" id="accountNumber2" name="GroupName" data-live-search="true">
      
                  {% for category in group %}
                  <option data-tokens="{{ category.group_number }}" id="{{ category.group_number }}"
                    value="{{ category.group_number }}">{{ category.group_name }}</option>
      
      
                  {% endfor %}
                </select>

              </div>
            </div>

          </div>

        

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary">Cancel</button>
      </form>
    </div>

</div>

<script>
  // JavaScript to show/hide dropdowns based on checkbox state
  document.addEventListener('DOMContentLoaded', function () {
      var checkbox = document.getElementById('enableOptionsCheckbox');
      var dropdown1 = document.getElementById('accountNumber1');
      var dropdown2 = document.getElementById('accountNumber2');

      function toggleDropdowns() {
          if (checkbox.checked) {
              dropdown1.removeAttribute('disabled');
              dropdown2.removeAttribute('disabled');
          } else {
              dropdown1.setAttribute('disabled', 'disabled');
              dropdown2.setAttribute('disabled', 'disabled');
          }
      }

      // Initial state
      toggleDropdowns();

      // Add event listener to the checkbox
      checkbox.addEventListener('change', toggleDropdowns);
  });
</script>



<script>
  $(document).ready(function () {
      // Attach change event handler to the dropdown
      $('#account_type').change(function () {
          // Get the selected value
          var selectedValue = $(this).val();
          var accountTypePrefixes = {
          'Agent': 'Ag',
          'Customer': 'Cust',
          'Supplier': 'Sup',
          'ACCOUNTANT': 'Acc',
          'HR_Manager': 'Hr',

          // Add other mappings as needed
      };
      console.log(accountTypePrefixes[selectedValue])
      // Set the value of the readonly input based on the selected option
      if (accountTypePrefixes[selectedValue]) {
        $('#customerCode').val(accountTypePrefixes[selectedValue] + '-'+ {{next_Supplier_number}});
          console.log(accountTypePrefixes[selectedValue] + '-'+ {next_Supplier_number})
      } else {
        $('#customerCode').val('');
  // Clear the input if no mapping is found
      }
          // Update the User Code input with the selected value
      });
  });
</script>



  {% endblock %}