{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
    /* Modal styles */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;

    }
  
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 400px;
      position: relative;
    }
  
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  
    /* Add more styling as needed */
  </style>
           
           <style>
            .invoice-box {
              margin: auto;
              padding: 30px;
              border: 1px solid #eee;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
              font-size: 16px;
              line-height: 24px;
              font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
              color: #555;
            }
      
            .invoice-box table {
              width: 100%;
              line-height: inherit;
              text-align: left;
            }
      
            .invoice-box table td {
              padding: 5px;
              vertical-align: top;
            }
      
            .invoice-box table tr td:nth-child(2) {
              text-align: left;
            }
      
            .invoice-box table tr.top table td {
              padding-bottom: 20px;
            }
      
            .invoice-box table tr.top table td.title {
              font-size: 45px;
              line-height: 45px;
              color: #333;
            }
      
            .invoice-box table tr.information table td {
              padding-bottom: 40px;
            }
      
            .invoice-box table tr.heading td {
              background: #eee;
              border-bottom: 1px solid #ddd;
              font-weight: bold;
            }
      
            .invoice-box table tr.details td {
              padding-bottom: 20px;
            }
      
            .invoice-box table tr.item td {
              border-bottom: 1px solid #eee;
            }
      
            .invoice-box table tr.item.last td {
              border-bottom: none;
            }
      
            .invoice-box table tr.total td:nth-child(2) {
              border-top: 2px solid #eee;
              font-weight: bold;
            }
      
            @media only screen and (max-width: 600px) {
              .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
              }
      
              .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
              }
            }
      
            /** RTL **/
            .invoice-box.rtl {
              direction: rtl;
              font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            }
      
            .invoice-box.rtl table {
              text-align: right;
            }
      
            .invoice-box.rtl table tr td:nth-child(2) {
              text-align: left;
            }
          </style>
  <script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>
  <script src="https://bootstrapdemos.adminmart.com/modernize/dist/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>





            <div class="card">
   
                <div class="card-body">
         
                  
                      <div class="invoice-box" id="invoice-box">
                        <table cellpadding="0" cellspacing="0">
                          <tr class="top">
                            <td colspan="2">
                              <table>
                                <tr>
                                  <td class="title">
                                    {% if delivery.row_type == 'dispatch' %}
                                    <h1>Dispatch Reciept </h1>
                                    {% else %}
                                    <h1>Delivery Reciept </h1>
                                     
                                      {% endif %}
                                  </td>
                  

                                  <td>
                                    Order No # {{delivery.order.id}}<br />
                                    Delivery ID: {{delivery.id}}<br />
                                    Delivery Date: {{formatted_date}}
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                  
                          <tr>
                            <td colspan="2">
                              <table>
                                <tr class="heading">
                                  <td>Billed To:-</td>
                        
                                  <td>Party</td>
                                </tr>
                                <tr>
                                  <td>
                                    {{ delivery.billing_company.name }}<br />
                                      {{ delivery.billing_company.address|linebreaks|safe }}
                                  </td>
                  
                                  <td>
                                    Invoice No: # {{delivery.invoice_no}}<br />
                                    Invoice Date: # {{delivery.formatted_date}}<br />

                                    
                                    {{delivery.partyName}}<br />
                                    {{delivery.partyAddress}}<br />
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                  

                  
                         
                          <!-- <tr class="heading">
                            <td>Payment Method</td>
                  
                            <td>Check #</td>
                          </tr>
                  
                          <tr class="details">
                            <td>Check</td>
                  
                            <td>1000</td>
                          </tr> -->
                        </table>
                        <table>
                          <h2 class="heading" >Details Before Deduction</h2>
                          <tr class="heading">
                            <td>Item</td>
                            <td>Unit Price(quantal)</td>
                            <td>Quantity(quantal)</td>
                            <td>Final Price</td>
                          </tr>
                  
                          <tr class="item">
                            <td>{{delivery.order.product_name}}</td>
                  
                            <td>Rs {{delivery.order.price_per_quantal}}</td>
                            <td>{{delivery.quantity}}</td>
                            <td>Rs {{delivery.final_quantity_price}}</td>

                          </tr>

                  
                          
                  
                          <tr class="total">
                            <td></td>
                            <td></td>
                            <td></td>

                  
                            <td>Total: Rs {{delivery.final_quantity_price}}</td>
                          </tr>
                        </table>
                        <table>
                          <h2 class="heading" >Quantity Details</h2>
                          <tr class="heading">
                            <td>Package</td>
                            <td>Pieces</td>
                          </tr>
                  
                          <tr class="item">
                            <td>Jute Bag</td>
                  
                            <td>{{delivery.jute_bags}}</td>

                          </tr>
                          <tr class="item">
                            <td>Plastic Bag</td>
                  
                            <td>{{delivery.plastic_bags}}</td>

                          </tr>
                          <tr class="item">
                            <td>FCI</td>
                  
                            <td>{{delivery.fssi}}</td>

                          </tr>
                          <tr class="item">
                            <td>Loose(quantal)</td>
                  
                            <td>{{delivery.loose}}</td>

                          </tr>

                  
                          
                  
                          <tr class="total">
                            <td></td>

                  
                            <td>Total:{{delivery.no_of_bags}}</td>
                          </tr>
                        </table>


                        <table>
                          <h2 class="heading" >Deduction Details</h2>
                          <tr class="heading">
                            <td>Name</td>
                            <td>Amount(Rs)</td>
                          </tr>
                  
                          <tr class="item">
                            <td>Freight</td>
                  
                            <td>{{delivery.freight}}</td>

                          </tr>
                          <tr class="item">
                            <td>Dala</td>
                  
                            <td>{{delivery.data}}</td>

                          </tr>
                          <tr class="item">
                            <td>Cash Discount</td>
                  
                            <td>{{delivery.fssi}}</td>

                          </tr>
                          <tr class="item">
                            <td>Kata</td>
                  
                            <td>{{delivery.kanta}}</td>

                          </tr>
                          <tr class="item">
                            <td>TDS/TCS</td>
                  
                            <td>{{delivery.tdsTcs}}</td>

                          </tr>
                          <tr class="item">
                            <td>Bardana</td>
                  
                            <td>{{delivery.bardana}}</td>

                          </tr>
                          <tr class="item">
                            <td>Brokerage</td>
                  
                            <td>{{delivery.brokerage}}</td>

                          </tr>
                          <tr class="item">
                            <td>Commission</td>
                  
                            <td>{{delivery.commission}}</td>

                          </tr>
                  
                          <br>
                          <tr class="total">

                  
                            <td>Total Deducted:{{delivery.deductedAmt}}</td>
                            <td>Final Amount:{{delivery.finalAmt}}</td>

                          </tr>
                        </table>
                      </div>










                 

            </div>
          <div>
       
            <button class="btn btn-primary" id="pdfButton"> Download Delivery</button>

          </div>
 
    <!-- ---------------------
                              end Table Responsive 
                          ---------------- -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

  <script>
  const btn = document.getElementById("pdfButton");

  btn.addEventListener("click", function(){
  var element = document.getElementById('invoice-box');
  console.log(element)
  // Get the current date and time
  const now = new Date();
  const formattedDate = now.toISOString().split('T')[0];  // Format as 'YYYY-MM-DD'
  const formattedTime = now.toTimeString().split(' ')[0];  // Format as 'HH:MM:SS'

  // Combine date and time for the filename
  const filename = `${formattedDate}_${formattedTime}.pdf`;
  html2pdf().from(element).save(filename);
  });
  </script> 


<!-- Add this script tag in your HTML file, preferably at the end before the closing </body> tag -->


  {% endblock %}