{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'assets/css/voucher.css' %}" rel="stylesheet" \>

<div class="stl_ stl_02">
 
    <div class="stl_view">
        <div class="stl_05 stl_06">
            <div class="stl_01" style="left:13.7125em;top:3.1303em;"><span class="stl_07 stl_08 stl_09" style="word-spacing:-0.0001em;">LIFEline SAFETY CONSULTANCY &nbsp;</span></div>
            <div class="stl_01" style="left:13.7125em;top:4.85em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0002em;">Company ID : 1054517 &nbsp;</span></div>
            <div class="stl_01" style="left:36.0375em;top:4.5604em;"><span class="stl_12 stl_08 stl_13" style="word-spacing:0.0004em;">TAX INVOICE &nbsp;</span></div>
            <div class="stl_01" style="left:13.7125em;top:5.84em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0002em;">Office No: R03 , Al Mulla Plaza , &nbsp;</span></div>
            <div class="stl_01" style="left:13.7125em;top:6.7183em;"><span class="stl_10 stl_08 stl_09" style="word-spacing:-0.0002em;">Deira , Dubai ,PO Box: 95903 &nbsp;</span></div>
            <div class="stl_01" style="left:13.7125em;top:7.5967em;"><span class="stl_10 stl_08 stl_14" style="word-spacing:-0.0009em;">United Arab Emirates &nbsp;</span></div>
            <div class="stl_01" style="left:39.3908em;top:7.6467em;"><span class="stl_15 stl_08 stl_09" style="word-spacing:0.0028em;">Invoice# </span><span class="stl_16 stl_08 stl_17">INV-2023-2087 &nbsp;</span></div>
            <div class="stl_01" style="left:13.7125em;top:8.475em;"><span class="stl_10 stl_08 stl_13" style="word-spacing:-0.0003em;">TRN 100521952000003 &nbsp;</span></div>
            
            <div class="stl_01" style="left:2.775em;top:9.9158em;"><span class="stl_15 stl_08 stl_18" style="word-spacing:0em;">Invoice Date &nbsp;</span></div>
            <div class="stl_01" style="left:2.775em;top:10.95em;"><span class="stl_15 stl_08 stl_19">Terms &nbsp;</span></div>
            <div class="stl_01" style="left:2.775em;top:11.9842em;"><span class="stl_15 stl_08 stl_19" style="word-spacing:-0.0004em;">Due Date &nbsp;</span></div>
            <div class="stl_01" style="left:25.1533em;top:9.9158em;"><span class="stl_15 stl_08 stl_14" style="word-spacing:-0.0001em;">Sales person &nbsp;</span></div>
            <div class="stl_01" style="left:25.1533em;top:10.95em;"><span class="stl_15 stl_08 stl_14" style="word-spacing:-0.0002em;">Project Name/No: &nbsp;</span></div>
            <div class="stl_01" style="left:13.6158em;top:9.9308em;"><span class="stl_16 stl_08 stl_17" style="word-spacing:0.0007em;">: 02-11-23 &nbsp;</span></div>
            <div class="stl_01" style="left:13.6158em;top:10.965em;"><span class="stl_16 stl_08 stl_14" style="word-spacing:-0.0003em;">: COD /CDC &nbsp;</span></div>
            <div class="stl_01" style="left:13.6158em;top:12em;"><span class="stl_16 stl_08 stl_17" style="word-spacing:0.0007em;">: 02-11-23 &nbsp;</span></div>
            <div class="stl_01" style="left:13.6158em;top:13.0342em;"><span class="stl_16 stl_08 stl_11" style="word-spacing:0.0003em;">: VERBAL &nbsp;</span></div>
            <div class="stl_01" style="left:35.9942em;top:9.9308em;"><span class="stl_16 stl_08 stl_11" style="word-spacing:0.0002em;">: Mr.Thomas-0544447986 &nbsp;</span></div>
            <div class="stl_01" style="left:35.9942em;top:10.965em;"><span class="stl_16 stl_08 stl_13" style="word-spacing:0.0005em;">: DUBAI &nbsp;</span></div>
            <div class="stl_01" style="left:2.775em;top:13.0183em;"><span class="stl_15 stl_08 stl_18" style="word-spacing:-0.0005em;">LPO/ QTN No# &nbsp;</span></div>
            <div class="stl_01" style="left:2.775em;top:14.4125em;"><span class="stl_20 stl_08 stl_14" style="word-spacing:-0.0003em;">Bill To &nbsp;</span></div>
            <div class="stl_01" style="left:25.1533em;top:14.4125em;"><span class="stl_20 stl_08 stl_14" style="word-spacing:-0.0009em;">Ship To &nbsp;</span></div>
            <div class="stl_01" style="left:25.1533em;top:15.775em;"><span class="stl_10 stl_08 stl_13" style="word-spacing:-0.0003em;">TRN 104060831500003 &nbsp;</span></div>
            <div class="stl_01" style="left:2.775em;top:15.7192em;"><span class="stl_21 stl_08 stl_11" style="word-spacing:-0.0005em;">AARYA TOURISM LLC &nbsp;</span></div>
            <div class="stl_01" style="left:2.775em;top:16.7467em;"><span class="stl_10 stl_08 stl_13" style="word-spacing:-0.0003em;">TRN 104060831500003 &nbsp;</span></div>
            <div class="stl_01" style="left:3.0875em;top:18.5275em;"><span class="stl_15 stl_08 stl_11" style="word-spacing:0.0004em;">Subject : &nbsp;</span></div>
            <div class="stl_01" style="left:3.0875em;top:19.8625em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:-0.0001em;">TRAINING &amp; CERTIFICATION &nbsp;</span></div>
            <div class="stl_01" style="left:2.8533em;top:21.8683em;"><span class="stl_16 stl_08 stl_22" style="word-spacing:0.0001em;">SL No</span><span class="stl_16 stl_08 stl_23" style="word-spacing:1.0809em;">&nbsp;</span><span class="stl_16 stl_08 stl_14" style="word-spacing:-0.0007em;">Item &amp; Description &nbsp;</span></div>
            <div class="stl_01" style="left:30.7442em;top:21.8683em;"><span class="stl_16 stl_08 stl_09">Qty &nbsp;</span></div>
            <div class="stl_01" style="left:33.9908em;top:21.8683em;"><span class="stl_16 stl_08 stl_24">Rate &nbsp;</span></div>
            <div class="stl_01" style="left:37.1442em;top:21.8683em;"><span class="stl_16 stl_08 stl_24" style="word-spacing:-0.0008em;">Tax % &nbsp;</span></div>
            <div class="stl_01" style="left:41.4908em;top:21.8683em;"><span class="stl_16 stl_08 stl_24">Tax &nbsp;</span></div>
            <div class="stl_01" style="left:44.0317em;top:21.8683em;"><span class="stl_16 stl_08 stl_09">Amount &nbsp;</span></div>
            <div class="stl_01" style="left:3.5967em;top:23.075em;"><span class="stl_10 stl_08 stl_23">1</span></div>
            <div class="stl_01" style="left:5.4875em;top:23.075em;"><span class="stl_10 stl_08 stl_09" style="word-spacing:-0.0002em;">FIRST AID LEVEL 3 ( HABC ) &nbsp;</span></div>
            <div class="stl_01" style="left:5.4875em;top:23.9533em;"><span class="stl_15 stl_08 stl_09" style="word-spacing:-0.0006em;">DCAS Approved Training &amp; Certification &nbsp;</span></div>
            <div class="stl_01" style="left:30.7467em;top:23.075em;"><span class="stl_10 stl_08 stl_11">3.00 &nbsp;</span></div>
            <div class="stl_01" style="left:33.5625em;top:23.075em;"><span class="stl_10 stl_08 stl_11">175.00 &nbsp;</span></div>
            <div class="stl_01" style="left:37.8967em;top:23.075em;"><span class="stl_10 stl_08 stl_11">5.00 &nbsp;</span></div>
            <div class="stl_01" style="left:41.0908em;top:23.075em;"><span class="stl_10 stl_08 stl_11">26.25 &nbsp;</span></div>
            <div class="stl_01" style="left:44.7658em;top:23.075em;"><span class="stl_10 stl_08 stl_11">525.00 &nbsp;</span></div>
            <div class="stl_01" style="left:3.5967em;top:25.1433em;"><span class="stl_10 stl_08 stl_23">2</span></div>
            <div class="stl_01" style="left:5.4875em;top:25.1433em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0003em;">Fire Fighting &nbsp;</span></div>
            <div class="stl_01" style="left:5.4875em;top:26.0217em;"><span class="stl_15 stl_08 stl_09" style="word-spacing:-0.0007em;">Training &amp; Certification &nbsp;</span></div>
            <div class="stl_01" style="left:30.7467em;top:25.1433em;"><span class="stl_10 stl_08 stl_11">3.00 &nbsp;</span></div>
            <div class="stl_01" style="left:33.5625em;top:25.1433em;"><span class="stl_10 stl_08 stl_11">120.00 &nbsp;</span></div>
            <div class="stl_01" style="left:37.8967em;top:25.1433em;"><span class="stl_10 stl_08 stl_11">5.00 &nbsp;</span></div>
            <div class="stl_01" style="left:41.0908em;top:25.1433em;"><span class="stl_10 stl_08 stl_11">18.00 &nbsp;</span></div>
            <div class="stl_01" style="left:44.7658em;top:25.1433em;"><span class="stl_10 stl_08 stl_11">360.00 &nbsp;</span></div>
            <div class="stl_01" style="left:34.7125em;top:36.1634em;"><span class="stl_25 stl_08 stl_14" style="word-spacing:-0.0009em;">Sub Total &nbsp;</span></div>
            <div class="stl_01" style="left:43.4875em;top:36.1634em;"><span class="stl_25 stl_08 stl_11">885.00 &nbsp;</span></div>
            <div class="stl_01" style="left:43.9658em;top:37.5167em;"><span class="stl_25 stl_08 stl_11">44.25 &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:36.9183em;"><span class="stl_10 stl_08 stl_14" style="word-spacing:-0.0009em;">Total In Words &nbsp;</span></div>
            <div class="stl_01" style="left:30.9592em;top:37.5167em;"><span class="stl_25 stl_08 stl_18" style="word-spacing:-0.0004em;">Standard Rate (5%) &nbsp;</span></div>
            <div class="stl_01" style="left:36.2217em;top:38.8859em;"><span class="stl_26 stl_08 stl_24">Total &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:37.8125em;"><span class="stl_16 stl_08 stl_09" style="font-style:italic;word-spacing:-0.0006em;">UAE Dirham Nine Hundred Twenty-Nine and Twenty-Five Fils &nbsp;</span></div>
            <div class="stl_01" style="left:41.8125em;top:38.8859em;"><span class="stl_26 stl_08 stl_11">929.25AED &nbsp;</span></div>
            <div class="stl_01" style="left:41.8125em;top:40.2734em;"><span class="stl_26 stl_08 stl_11">929.25AED &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:40.05em;"><span class="stl_15 stl_08 stl_09" style="word-spacing:0.0001em;">Payment Options &nbsp;</span></div>
            <div class="stl_01" style="left:33.175em;top:40.2734em;"><span class="stl_26 stl_08 stl_19" style="word-spacing:-0.0011em;">Balance Due &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:43.2375em;"><span class="stl_10 stl_08 stl_09" style="word-spacing:-0.0001em;">Kindly prepare all cheques payable to: &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:44.1158em;"><span class="stl_10 stl_08 stl_09" style="word-spacing:-0.0001em;">Life Line Safety Consultancy &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:44.9933em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0004em;">Account Number: 0373005085001 &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:45.8717em;"><span class="stl_10 stl_08 stl_17" style="word-spacing:0.0007em;">IBAN: AE630400000373005085001 &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:46.75em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0004em;">Swift Code: NRAKAEAK &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:47.6283em;"><span class="stl_10 stl_08 stl_09" style="word-spacing:-0.0002em;">Bank: RAK Bank ,Branch :AL Qusais Branch &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:49.2533em;"><span class="stl_15 stl_08 stl_18" style="word-spacing:-0.0004em;">Terms &amp; Conditions &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:50.2577em;"><span class="stl_27 stl_08 stl_18" style="word-spacing:-0.0001em;">Payment Terms : COD /CDC</span><span class="stl_27 stl_08 stl_23" style="word-spacing:0.2577em;">&nbsp;</span><span class="stl_27 stl_08 stl_09" style="word-spacing:-0.0002em;">at the time of delivery/ Agreed with client. &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:51.1677em;"><span class="stl_27 stl_08 stl_18" style="word-spacing:-0.0003em;">Please note that Cheques returned by the bank will be subject to an admin charge of 100 AED per Cheque. &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:52.0768em;"><span class="stl_27 stl_08 stl_18" style="word-spacing:-0.0003em;">Declaration: We declare that the invoice shows the actual price of the goods described and that all particulars are true and correct. &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:54.8052em;"><span class="stl_27 stl_08 stl_14" style="word-spacing:-0.0001em;">Receivers Name : &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:55.7143em;"><span class="stl_27 stl_08 stl_24">Date &nbsp;</span></div>
            <div class="stl_01" style="left:2.9em;top:56.6235em;"><span class="stl_27 stl_08 stl_09" style="word-spacing:-0.0006em;">Sign &amp; Stamp &nbsp;</span></div>
            <div class="stl_01" style="left:7.9731em;top:55.7143em;"><span class="stl_27 stl_08 stl_23">:</span></div>
            <div class="stl_01" style="left:8.235em;top:56.6235em;"><span class="stl_27 stl_08 stl_23">:</span></div>
            <div class="stl_01" style="left:5.3691em;top:67.0683em;"><span class="stl_10 stl_08 stl_09" style="word-spacing:-0.0002em;">LIFEline Safety Consultancy ,Office No: R03 , Al Mulla Plaza , ,Deira ,, Contact- 04 339 2800 ,05 44 44 7986</span><span class="stl_10 stl_08 stl_23" style="word-spacing:0.258em;">&nbsp;</span><a href="http://www.lifelinegcc.com" target="_blank"><span class="stl_10 stl_08 stl_09">,www.lifelinegcc.com &nbsp;</span></a></div>
            <div class="stl_01" style="left:15.0817em;top:67.9467em;"><span class="stl_10 stl_08 stl_09" style="word-spacing:-0.0002em;">This is an auto-generated document -No Sign-Stamp Required &nbsp;</span></div>
            <div class="stl_01" style="left:37.0981em;top:68.8686em;"><span class="stl_28 stl_08 stl_18">LLSC/FRM/INV/Rev.01 &nbsp;</span></div>
            <div style="position:absolute;left:8.9467em;top:39.9708em;width:5.9375em;height:1.0625em;">
                <a href="https://zohosecurepay.com/books/lifelinesafetyconsultancy/secure?CInvoiceID=2-ba532077d90d287809bba441f5a801ec39024635563b775c1662242f49944a95a66ebf0c915b607618aabf2ef665d3ddb12a6956fb425f4cf8a5ed01fb69241d11e80a707f5b3196" target="_blank">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAADElEQVR4nGJgAAIAAAAA//8bPySpAAAABklEQVQDAAAFAAHHrpkTAAAAAElFTkSuQmCC" class="stl_grlink" />
                </a>
            </div>
        </div>
    </div>
</div>

  {% endblock %}