{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- GOOGLE FONTS -->
<link href="https:\\fonts.googleapis.com\css?family=Karla:400,700|Roboto" rel="stylesheet">
<link href="{% static '\home\plugins\material\css\materialdesignicons.min.css' %}" rel="stylesheet" \>
<link href="{% static '\home\plugins\simplebar\simplebar.css' %}" rel="stylesheet" \>

<!-- PLUGINS CSS STYLE -->
<link href="{% static '\home\plugins\nprogress\nprogress.css' %}" rel="stylesheet" \>




<link href="{% static '\home\plugins\DataTables\DataTables-1.10.18\css\jquery.dataTables.min.css' %}" rel="stylesheet" \>



<link href="{% static '\home\plugins\jvectormap\jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" \>



<link href="{% static '\home\plugins\daterangepicker\daterangepicker.css' %}" rel="stylesheet" \>



<link href="https:\\cdn.quilljs.com\1.3.6\quill.snow.css" rel="stylesheet">



<link href="{% static '\home\plugins\toaster\toastr.min.css' %}" rel="stylesheet" \>


<!-- MONO CSS -->




<!-- FAVICON -->
<link href="{% static '\home\images\favicon.png' %}" rel="shortcut icon" \>

<!--
  HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
-->
<!-- WARNING: Respond.js doesn't work if you view the page via file:\\ -->
<!--[if lt IE 9]>
  <script src="https:\\oss.maxcdn.com\html5shiv\3.7.2\html5shiv.min.js' %}"></script>
  <script src="https:\\oss.maxcdn.com\respond\1.4.2\respond.min.js' %}"></script>
<![endif]-->
<script src="{% static '\home\plugins\nprogress\nprogress.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- ====================================
        ——— CONTENT WRAPPER
        ===================================== -->
        <!-- Top Statistics -->
            <div class="card">
                

                <div class="card-body">
                    <form id="myActualForm" method="POST" style="display: block;padding: 20px;">

                        {% csrf_token %}








                        <div id="bankForm" style="display: block;padding: 20px;">
                            <div class="card">
                                <div class="form-group">
                                        <div class="row">

                                            <div class="col">
                                                <label class="col-form-label" for="bankjournal_date">Date <span
                                                        class="text-danger">*&emsp;</span></label>
                                                <input type="date" class="form-control" id="bankjournal_date" readonly>
                                            </div>
                                            <div class="col">
                                                <label class="col-form-label" for="voucher_no"> Sales Order No  <span
                                                        class="text-danger">*&emsp; <span style="font-size: 60%;">(This is not Final Quote Number It may change after submittion)</span></span></label>
                                                <input type="text" class="form-control " id="quotation_number" name="quotation_number" value='{{next_quotation_number}}' readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- <div class="col-md-4">
                                                <div class="form-group">
                                                  <label for="account_category">Supplier</label>
                                                  <select class="selectpicker" id="accountNumber1" name="primaryGroupName" data-live-search="true">
                                        
                                                    {% for supplier in suppliers %}
                                                    <option
                                                    data-tokens="{{ supplier.mobile }}"
                                                   data-email="{{ supplier.email }}"
                                                    data-address="{{ supplier.address }}"
                                                    value="{{ supplier.supplier_id }}">{{ supplier.supplier_name }}</option>

                                        
                                                    {% endfor %}
                                                  </select>
                                                </div>
                                              </div> -->

                                     









                                            
                                        </div>
                                
                                        <!-- Contact Information -->
                                        <div class="row">
                                            
                                        </div>
                                
                                        <!-- Billing and Shipping Addresses -->
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="billingAddress">Billing Address</label>
                                                    <textarea class="form-control" id="billingAddress" name="billing_address" rows="3" required></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="shippingAddress">Shipping Address</label>
                                                    <textarea class="form-control" id="shippingAddress" name="shipping_address" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                
                                        <!-- Quotation Details -->
                                        <div class="row" style="padding: 20px;">

                                            <!-- <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="delivery_date">Delivery Date</label>
                                                    <input type="date" class="form-control" id="delivery_date" name="delivery_date" required>
                                                </div>
                                            </div> -->
                                            <!-- <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="expiryDate">Expiry Date</label>
                                                    <input type="date" class="form-control" id="expiryDate" name="expiry_date" required>
                                                </div>
                                            </div> -->
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>







                            <!-- Table -->

                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="transactionTable">
                                    <thead>
                                        <tr>

                                            <th>Product</th>
                                            <th>Product Name</th>
                                            <th>Description</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>

                                            <th>Total</th>

                                            <th>Remove</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>

                                            <td>
                                                <select class="form-control" id="dropdown1" name="dropdown1">
                                                    <option data-tokens="{{ category.name }}" id="{{ category.supplier_name }}"
                                                            value="{{ category.name }}">-Select Product-</option>
                                                    {% for product in products %}
                                                  
                                                    <option
                                                        data-value=" {{ product.name }}"
                                                        data-tokens="{{ product.price }}"
                                                        value="{{ product.id }}">{{ product.name }}
                                                    </option>


                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" id="cat1" name="cat1" >

                                            </td>
                                            <td>
                                                <input type="text"  class="form-control" id="sub" name="sub1">
                                            </td>

                                            <td><input type="text" class="form-control" id="ref1" name="ref1"></td>
                                            <td><input type="text" class="form-control" id="qty" value=1 name="qty1"></td>
                                            <!-- <td><input type="text" class="form-control" id="unt" name="unt1"></td> -->


                                            <td><input type="number" class="form-control" step="0.01" id="amt1" name="amt1"></td>


                                        </tr>

                                        <tr>
                                            <td>

                                          
                                            </td>
                                            <td>


                                            </td>
                                            <td>
                                                

                                            </td>
                                            <td></td>
                                           
                                            <td>
                                                <span><b>Sub Total:</b></span>
                                            </td>
                                            <!-- <td><input type="number" class="form-control" step="0.01" id="c_total"
                                                    disabled>
                                            </td> -->
                                            <td><input type="number" class="form-control" step="0.01" id="d_total" name ='s_total'
                                                ></td>
                                        </tr>


                                        <tr>
                                            <td>

                                                <button type="button" class="btn btn-primary" id="addRowButton">Add
                                                    Row</button>
                                            </td>
                                            <td>


                                            </td>
                                            <td>
                                                <span><b></b></span>

                                            </td>
                                            <td></td>
                                            
                                            <td>
                                                
                                            </td>
                                            <!-- <td><input type="number" class="form-control" step="0.01" id="c_total"
                                                    disabled>
                                            </td> -->
                                            <td><input type="number" class="form-control" step="0.01" id="final" name="final"
                                                ></td>
                                        </tr>
                                        <tr>
                                            <td>

                                            </td>
                                            
                                            <td>
                                                <span><b></b></span>

                                            </td>
                                            <td></td>
                                            <td>

                                            </td>
                                            <!-- <td>
                                                <select class="form-control" id="tax3" name="tax3">
                                                    <option
                                                    >None
                                                 </option>
                                                    {% for product in tax %}
                                                
                                                    <option
                                                   
                                                        value="{{ product.percentage }}">{{ product.type }}
                                                    </option>


                                                    {% endfor %}
                                                </select>
                                            </td> -->
                                            <!-- <td><input type="number" class="form-control" step="0.01" id="c_total"
                                                    disabled>
                                            </td> -->
                                            <!-- <td><input type="number" class="form-control" step="0.01" id="d_tax3" name="tax3"
                                                ></td> -->
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Submit Button -->
                            <!-- Submit Button -->
                            <div class="form-group text-center my-5">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="shippingAddress">Terms and Condition</label>
                                            <textarea class="form-control" id="terms" name="terms" rows="3" >{{ terms.description }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-primary" id="submitForm">Submit</button>
                                        <button type="button" class="btn btn-primary" id="clearFormButton">Clear</button>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="shippingAddress">Notes Or Comment</label>
                                            <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>

            </div>

   
    


<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="subTableModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subTableModalLabel">
                    <h2 style="margin-left: 200px;">
                        <div id="loading-animation" class="loading"></div>
                        <div id="success-checkmark" class="checkmark">&#10003;</div>
                    </h2>
                </h5>
                <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="subTableContent">

                <p>Voucher No: <span><input type="text" id="voucherNo"></span></p>
                <p>Voucher Code: <span><input type="text" id="voucherCode"></span></p>
                <p>Account: <span><input type="text" id="account"></span></p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModalq"
                    aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Add change event listener to the dropdown
        $('#accountNumber1').change(function () {
            // Get the selected option
            var selectedOption = $(this).find('option:selected');

            // Update the fields with data from the selected option
            $('#supplier_email').val(selectedOption.data('email'));
            $('#supplier_address').val(selectedOption.data('address'));
            $('#supplier_mobile').val(selectedOption.data('tokens'));
        });
    });
</script>


<script>
    // Add event listeners to each row's "Quantity" and "Unit Price" fields
    document.addEventListener('DOMContentLoaded', function() {
        var table = document.querySelector('table');

        table.addEventListener('input', function (event) {
            var target = event.target;
            if (target.tagName === 'INPUT' && target.id.startsWith('ref') || target.id.startsWith('qty')) {
                updateAmount(target);
            }
        });

        function updateAmount(input) {
            var row = input.closest('tr');
            var qtyInput = row.querySelector('input[id^="ref"]');
            var untInput = row.querySelector('input[id^="qty"]');
            var amtInput = row.querySelector('input[id^="amt"]');
            const final = document.getElementById("final");
     


            var quantity = parseFloat(qtyInput.value) || 0;
            var unitPrice = parseFloat(untInput.value) || 0;

            

            var amount = quantity * unitPrice;
            // var cgst=d_total*0.09
            // var sgst=d_total*0.09
            // console.log(d_total)
            // var total= amount+cgst+sgst
            // d_tax1.value = cgst.toFixed(2);
            // d_tax2.value = sgst.toFixed(2);
            
            amtInput.value = amount.toFixed(2);
            final.value=  total.toFixed(2);



        }
    });
</script>




<script src="{% static '\home\js\sales.js' %}"></script>


<!-- <script>
    // Function to calculate total tax and update fields
    function calculateTotal1() {
      // Get subtotal value
      const subtotal = parseFloat(document.getElementById('d_total').value) || 0;
      const d_tax2 = parseFloat(document.getElementById('d_tax2').value) || 0;

      const d_tax3 = parseFloat(document.getElementById('d_tax3').value) || 0;


      // Get selected tax option
      const selectedTax = document.getElementById('tax1').value;

      // Calculate total tax based on selected tax rate
      const totalTax = subtotal * (selectedTax / 100);

      // Update total tax field
      document.getElementById('d_tax1').value = totalTax.toFixed(2);

      // Update grand total field
      document.getElementById('final').value = (d_tax2+d_tax3+subtotal + totalTax).toFixed(2);
    }
    function calculateTotal2() {
      // Get subtotal value
      const subtotal = parseFloat(document.getElementById('d_total').value) || 0;
      const d_tax1 = parseFloat(document.getElementById('d_tax1').value) || 0;

        const d_tax2 = parseFloat(document.getElementById('d_tax3').value) || 0;
      // Get selected tax option
      const selectedTax = document.getElementById('tax2').value;

      // Calculate total tax based on selected tax rate
      const totalTax = subtotal * (selectedTax / 100);

      // Update total tax field
      document.getElementById('d_tax2').value = totalTax.toFixed(2);

      // Update grand total field
      document.getElementById('final').value = (d_tax1+d_tax2+subtotal + totalTax).toFixed(2);
    }
    function calculateTotal3() {
      // Get subtotal value
      const subtotal = parseFloat(document.getElementById('d_total').value) || 0;
      const d_tax1 = parseFloat(document.getElementById('d_tax1').value) || 0;

        const d_tax2 = parseFloat(document.getElementById('d_tax2').value) || 0;
      // Get selected tax option
      const selectedTax = document.getElementById('tax3').value;

      // Calculate total tax based on selected tax rate
      const totalTax = subtotal * (selectedTax / 100);

      // Update total tax field
      document.getElementById('d_tax3').value = totalTax.toFixed(2);

      // Update grand total field
      document.getElementById('final').value = (subtotal + totalTax+d_tax1+d_tax2).toFixed(2);
    }

    // Attach listener to the select element
    document.getElementById('tax1').addEventListener('change', calculateTotal1);
    document.getElementById('tax2').addEventListener('change', calculateTotal2);
    document.getElementById('tax3').addEventListener('change', calculateTotal3);


    // You may set an initial subtotal value here
    // document.getElementById('subtotal').value = 100; // Example initial subtotal
    // calculateTotal(); // Uncomment if you want to calculate total initially
  </script> -->
<!-- Add this script at the end of your HTML file, just before the closing </body> tag -->
<!-- Add this script at the end of your HTML file, just before the closing </body> tag -->



{% endblock %}
