
{% extends 'base.html' %}
{% load static %}
{% block content %}
 
       
 
    <div class="card" style="padding-top: 50px;">
       <div class="card-header">
        <h1>Reciept List</h1>
       </div>
   
        <div class="card-body">
          <table id="productsTable" class="table table-hover table-product" style="width:100%">
            <div>
          
              <a href="{% url 'reciept' %}" target="_blank" class="mb-1 btn btn-pill btn-primary" id="openModalBtn">Create Reciept</a>
            </div>
            <thead>
              <tr>
                <th scope="col">S No</th>

                    <th scope="col">VoucherNo</th>
                    <th scope="col">VoucherCode</th>
                    <th scope="col">Date</th>
                    <th scope="col">Invoice Number</th>
                    <th scope="col">Invoice Date</th>
                    <th scope="col">Narration</th>

                    <th scope="col">From Ledger</th>

                    <th scope="col">To Ledger</th>
                    <th scope="col">Debit</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Comment</th>


              </tr>
            </thead>
            <tbody>
              {% for journal in RecieptEntryV %}
              <tr>
                <td class="py-0">
                  {{journal.s_no}}
                </td>
                <td>{{journal.voucherNo}}</td>
                <td>{{journal.voucherCode}}</td>
                <td>{{journal.date}}</td>
                <td>{{journal.invoice_no}}</td>
                <td>{{journal.invoice_date}}</td>
                <td>
                  {{journal.narration}}
                </td>
                <td>
                  {{journal.from_ledger}}
                </td>
                <td>{{journal.to_ledger}}</td>
                <td>{{journal.debit_total}}</td>
                <td>{{journal.credit_total}}</td>
                <td>{{journal.comment}}</td>

           
              </tr>

              {% endfor %}






            </tbody>
          </table>

  
              
        </div>
    </div>



  {% endblock %}
